---
const navLinks = [
    {
        Text: "Inicio",
        Icon: "public/footer/house.svg",
        Description: "Ícono de una casa para el nav del inicio",
        link: "#cover-section",
    },
    {
        Text: "Trabajos recientes",
        Icon: "public/footer/monitor-smartphone.svg",
        Description:
            "Ícono de una computadora para el nav de Trabajos Recientes",
        link: "#work-section",
    },
    {
        Text: "Proyectos",
        Icon: "public/footer/briefcase-business.svg",
        Description: "Ícono de maletín ce trabajo para el nav de proyectos",
        link: "#projects-section",
    },
    {
        Text: "Sobre mí",
        Icon: "public/footer/user.svg",
        Description: "Ícono de avatar para el nav de Sobre mí",
        link: "#about-section",
    },
    {
        Text: "Contácto",
        Icon: "public/footer/phone.svg",
        Description: "Ícono de un teléfono para el nav de Contácto",
        link: "#contact-section",
    },
];

const socialLinks = [
    {
        Icon: "public/footer/github-filled-rounded.svg",
        Network: "Github",
    },
    {
        Icon: "public/footer/linkedin-filled.svg",
        Network: "LinkedIn",
    },
    {
        Icon: "public/footer/gmail.svg",
        Network: "Gmail",
    },
];
---

<footer
    class="w-full flex flex-col justify-center items-center bg-cover bg-no-repeat bg-center bg-fixed text-white"
    style="background-image: url('public/background.svg')"
>
    <section class="flex flex-col items-center">
        <nav class="border-t-[1px] border-gray-100 p-8">
            <ul
                class="flex flex-col md:flex-row justify-center items-center gap-8"
            >
                {
                    navLinks.map(({ Text, Icon, Description, link }) => (
                        <li class="flex flex-row gap-1 justify-center">
                            <img src={Icon} alt={Description} class="max-w-4" />
                            <a
                                href={link}
                                class="text-[1.2rem] font-semibold leading-none h-full"
                            >
                                {Text}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <nav class="border-t-[1px] border-gray-100 p-8">
            <ul class="flex flex-row gap-8">
                {
                    socialLinks.map(({ Icon, Network }) => (
                        <li>
                            <img src={Icon} alt={Network} class="size-16" />
                        </li>
                    ))
                }
            </ul>
        </nav>
    </section>
    <section class="w-full font-semibold py-4 bg-rose-950 text-center text-lg">
        <p>2025 Copyright. Todos los derechos reservados.</p>
    </section>
</footer>
